.stackComponent {
  background: linear-gradient(
    310.6deg,
    rgba(100, 0, 233, 0.94) 6.8%,
    rgba(166, 0, 188, 0.66) 57.8%
  );
  color: white;
  text-align: center;
  height: auto;
  padding: 0px;
}
.stackContainer {
  padding: 200px 0px 250px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ImageLink {
  transition: 0.4s;
}
.ImageLink:hover {
  transform: scale(1.1);
}

/* .stackTitle {
  padding-top: 100px;
  font-size: 40px;
  color: white;
} */

.wheel {
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
}
.glassyRoundBox {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);

  display: grid;
  place-items: center;

  position: relative;
  z-index: 1;
}
/* .glassyBoxText {
  font-size: 60px;
} */
.spokeWrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  animation: spin-wheel 15s ease-in-out infinite;
}

.spoke {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 180px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: spin-spokes 15s ease-in-out infinite;
}

.spokeImage {
  height: 125px;
  width: auto;
  /* //image not draggable or selectable */
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.spoke-1 {
  margin-left: 200px;
  margin-top: 0px;
}

.spoke-2 {
  margin-left: 100px;
  margin-top: 190px;
}

.spoke-3 {
  margin-left: -100px;
  margin-top: 190px;
}

.spoke-4 {
  margin-left: -200px;
  margin-top: 0px;
}

.spoke-5 {
  margin-left: -100px;
  margin-top: -190px;
}
.spoke-6 {
  margin-left: 100px;
  margin-top: -190px;
}

/* spoke animations */

@keyframes spin-wheel {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(60deg);
  }
  34% {
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(180deg);
  }
  67% {
    transform: rotate(240deg);
  }
  84% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-spokes {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(-60deg);
  }
  34% {
    transform: rotate(-120deg);
  }

  50% {
    transform: rotate(-180deg);
  }
  67% {
    transform: rotate(-240deg);
  }
  84% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.stackExperienceBox {
  display: flex;
  gap: 30px;
}

.companyInfoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stackExperienceWorkPlaceBox {
  text-align: start;
}

/* .stackExperienceWorkPlaceTypo {
  font-size: 13px;
  color: rgba(206, 169, 255, 0.94);
} */

/* .stackExperienceWorkDescription {
  width: 300px;
  height: auto;
  font-size: 13px;
  color: rgba(239, 226, 255, 0.94);
} */

/* Responsive Styles */

@media (max-width: 1300px) {
  .stackContainer {
    flex-direction: column;

    width: 100%;
    padding: 50px 0px 50px 0px;
  }

  .wheel {
    width: 350px;
    height: 400px;
    overflow: hidden;
  }

  .glassyRoundBox {
    height: 200px;
    width: 200px;
  }
  .glassyBoxText {
    font-size: 40px;
  }

  .spokeImage {
    height: 60px;
    width: auto;
  }

  .spokeWrapper {
  }
  .spoke-1 {
    margin-left: 120px;
    margin-top: 0px;
  }

  .spoke-2 {
    margin-left: 60px;
    margin-top: 110px;
  }

  .spoke-3 {
    margin-left: -60px;
    margin-top: 110px;
  }

  .spoke-4 {
    margin-left: -110px;
    margin-top: 0px;
  }

  .spoke-5 {
    margin-left: -60px;
    margin-top: -110px;
  }
  .spoke-6 {
    margin-left: 60px;
    margin-top: -110px;
  }

  .stackExperienceBox {
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
