.navBox {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(12px);
}

.LogoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logoImage {
  width: 80px;
  height: auto;
  /* //image not draggable or selectable */
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.navTextStyles {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

/* Hamburger Menu */
.ham {
  display: flex;
  width: 70px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 50%;
  transition: 0.5s;
}
.ham:hover {
  background-color: rgba(114, 114, 213, 0.3);
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: white;
  stroke-width: 3.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
  stroke: black;
}

.ham8.active .middle {
  transform: rotate(90deg);
  stroke: black;
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
  stroke: black;
}

.ham8.active:hover {
  transform: rotate(135deg);
}
/* Hamburger Menu */

/*SIDEBAR*/
.sidebar {
  width: 250px;
  height: 200vh;
  background: rgba(242, 242, 242, 1);
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebarContent {
  padding: 20px;
}

.navMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 40vh;
  width: 150px;
  align-items: flex-end;
  justify-content: flex-start;
  justify-content: space-evenly;
  text-align: end;
  list-style: none;
}

.navItem {
  margin-bottom: 10px;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  transition: 0.5s;

  width: 180px;
  height: 50px;
  padding: 5px;
}
.navItem:hover {
  border-radius: 5px;
  background-color: rgb(114, 114, 213);
  color: white;
}
.navLink {
  color: #333;
  font-size: 18px;

  text-decoration: none;
}
/*SIDEBAR*/

/* Responsive Styles */

@media (max-width: 1000px) {
  .logoImage {
    width: 60px;
    height: auto;
  }
  .navTextStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    text-align: center;
  }

  .ham {
    width: 50px;
  }
}
