.contactContainer {
  background: url(../../assets/contactBg.svg) no-repeat center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 50px 0px;
  gap: 50px;
  background: radial-gradient(
    939px at 0.7% 2.4%,
    rgb(116, 106, 255) 0%,
    rgb(221, 221, 221) 100.2%
  );
}

.inputStyle {
  height: 30px;
}

.textAreaStyle {
  resize: none;
}
