/* //WAVE */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 190px;
}

.wave .shape-fill {
  fill: #27346d;
}

@media (max-width: 1000px) {
  .wave svg {
    width: calc(100% + 100%);
    height: 150px;
  }
}
