.FooterContainer {
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(36, 31, 98) 90.4%
  );
  padding: 50px 0px 20px 0px;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.footerContentBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.footerLogoBox {
  display: flex;
}
.footerSocialsBox {
  display: flex;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  gap: 15px;
  padding: 5px;
  transition: 0.3s;
}
.navItem:hover {
  color: white;
  text-decoration: underline;
}
.navLink {
  font-size: 17px;
  text-decoration: none;
}

.copyrightBox {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: white;
}

.logoImage {
  width: 150px;
  height: auto;
  /* //image not draggable or selectable */
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width: 1000px) {
  .logoImage {
    width: 100px;
  }
}
