.homeContainer {
  background: linear-gradient(
    to right,
    rgb(131, 131, 196),
    rgb(155, 155, 248),
    rgb(172, 172, 230),
    rgb(131, 131, 196)
  );
  color: white;
  display: flex;
  height: auto;
}

.homeContent {
  display: flex;
  padding-top: 200px;
  padding-bottom: 150px;
  justify-content: space-evenly;
  width: 100%;
}

/* .greetTypo {
  font-size: 100px;
}
.nameTypo {
  font-size: 150px;
  color: rgb(61, 61, 135);
} */
/* .descriptionTypo {
  width: 500px;
  font-size: 13px;
  color: #e7e4ff;
  background-color: transparent;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(131, 131, 196);
} */
.myImage {
  background-color: rgb(172, 172, 230);
  border-radius: 50%;

  /* //image not draggable or selectable */
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Responsive Styles */

@media (max-width: 1000px) {
  .homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 50px;

    gap: 20px;
  }

  .myImage {
    width: auto;
    height: 250px;
  }
}
