.ProjectsContainer {
  background: radial-gradient(
    circle at 52.1% -29.6%,
    rgb(144, 17, 105) 0%,
    rgb(51, 0, 131) 100.2%
  );
  padding-bottom: 100px;
}
.headTitleBox {
  text-align: center;
}

/* .projectsCardBoxFlex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
} */
/* .projectsCardBox {
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
} */

.CardContainer {
  height: 100%;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(255, 155, 225);
  transition: 0.5s;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.CardContainer:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgb(187, 111, 164);
}

.cardImageContainer {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 10px 20px 5px 20px;
}

.cardImage {
  border-radius: 15px;
  object-fit: cover;

  width: 230px;
  height: 230px;

  /* //image not draggable or selectable */
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.webLink {
  color: white;
}
.webLinkError {
  color: #818181 !important;
  pointer-events: none;
}

.linkIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cardInfoAfterImage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
