/*  <Scroll-bar>  */

:root {
  --primary: rgba(27, 11, 56, 255);
  --secondary: rgb(228, 216, 255);
  --tertiary: rgb(201, 178, 255);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
*::-webkit-scrollbar {
  max-height: 17px;
  max-width: 10px;
  overflow: auto;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 0px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

/*  </Scroll-bar>  */
